
body {
  background:#f8f8f8;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow:auto;
  white-space: nowrap;
}


.top {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow:auto;
  white-space: nowrap;
}

.quotes {
  display: inline-block;
  white-space: nowrap;
  }


.prettytext{
    font-weight:normal;color:#636363;letter-spacing:1pt;word-spacing:1pt;font-size:39px;text-align:left;font-family:helvetica, sans-serif;line-height:2;
}

#search {

}

#search input[type="text"] {
    background: url(../img/search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    outline: none;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 200px;
    }
