<html>
<head>
  <meta charset="utf-8" />
  <title>Who.</title>
  <link rel="stylesheet" href="static/css/stylesheet.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="static/js/script.js"></script>
</head>


<body>

<div class="prettytext">
  
    <form class="search" action="results" id="search">
      Ask a question! 
<br><br>
      <div class="quotes" style="display: none;"> who is </div>
      <div class="quotes" style="display: none;"> when was </div>
      <div class="quotes" style="display: none;"> who played </div>
      <div class="quotes" style="display: none;"> what are </div>
      <div class="quotes" style="display: none;"> what will be </div>
      <div class="quotes" style="display: none;"> who portrayed </div>
     
      <input name="searchbox" id="sbox" type="text" size="40" placeholder="Search..." />
    </form>

</div>

<br>
<br>
<br>



</body>
</html>
