<html>
<head>
  <meta charset="utf-8" />
  <title>Who.</title>
  <link rel="stylesheet" href="static/css/stylesheet.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="static/js/script.js"></script>
</head>


<body>

  <div class="centered">
    <form class="search" action="#" id="search">
      <nobr>
      Who
      <div class="quotes"> is </div>
      <div class="quotes"> was </div>
      <div class="quotes"> played </div>
      <div class="quotes"> are </div>
      <div class="quotes"> will be </div>
      <div class="quotes"> portrayed </div>
      <div class="quotes"> depicted </div>
</nobr>

      <input name="searchbox" type="text" size="40" placeholder="Search..." />
    </form>
  </div>


</body>
</html>
